.popup-body {
  padding: 20px;

  .modal-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;

    .title {
      font-size: 16px;
    }

    .fa-times {
      position: absolute;
      right: 0;
      top: 2px;
      font-size: 20px;
    }
  }

  .modal-body {
    padding: 20px 0;

    .form-item {
      height: 30px;
      padding-left: 120px;
      position: relative;
    }

    .form-item:not(:last-child) {
      margin-bottom: 20px;
    }

    .form-label {
      position: absolute;
      left: 0;
      width: 100px;
      height: 30px;
      line-height: 30px;
      text-align: right;
    }

    .form-label.required::before {
      content: '*';
      position: absolute;
      color: #ff3333;
      right: -8px;
      font-size: 20px;
    }
  }

  .modal-footer {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: right;
  }
}