.qa-management-page {
  padding: 20px;
  background-clip: content-box;

  .module-header {
    overflow: hidden;
    border-bottom: 1px solid #dbdcdd;
  }

  .module-title {
    margin-bottom: 20px;
    line-height: 30px;

    .gt-btn-solid {
      float: right;
    }

  }

  .search-and-operate {
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
  }

  .module-body {

    .form-content {
      margin-top: 30px;

      .form-label {
        display: inline-block;
        margin-bottom: 10px;
      }

      .form-label.required::before {
        content: '*';
        position: absolute;
        color: #ff3333;
        margin-left: -8px;
        margin-top: -5px;
        font-size: 20px;
      }

      .form-element {
        margin-bottom: 20px;
      }
    }

  }

}